<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="font-size: larger">This is a sample Text File: <%=name%></div>

    <br />
    <br />
    <br />

    <a href="<%=url%>">Verify your account here</a>
  </body>
</html>
